USE [master]
GO
/****** Object:  Database [Invoice]    Script Date: 17-07-2017 23:24:37 ******/
CREATE DATABASE [Invoice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Invoice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Invoice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Invoice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Invoice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Invoice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Invoice]
GO
USE [Invoice]
GO
/****** Object:  UserDefinedTableType [dbo].[Inventory_Type_InvoiceDetails]    Script Date: 17-07-2017 23:24:38 ******/
CREATE TYPE [dbo].[Inventory_Type_InvoiceDetails] AS TABLE(
	[InvoiceNo] [bigint] NULL,
	[ProductId] [int] NULL,
	[Qty] [int] NULL,
	[Amount] [numeric](18, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Inventory_Type_StockDetails]    Script Date: 17-07-2017 23:24:38 ******/
CREATE TYPE [dbo].[Inventory_Type_StockDetails] AS TABLE(
	[InvoiceNo] [bigint] NULL,
	[ProductId] [int] NULL,
	[Qty] [int] NULL,
	[Status] [bit] NULL
)
GO
/****** Object:  Table [dbo].[Category]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[Image] [image] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModfiedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBY] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Mobile] [bigint] NULL,
	[Address] [nvarchar](200) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Errors]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[ErrorID] [bigint] IDENTITY(1,1) NOT NULL,
	[Module] [varchar](50) NULL,
	[Method] [varchar](50) NULL,
	[Error] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Errors] PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceNo] [bigint] NOT NULL,
	[InvoiceDate] [date] NULL,
	[SubTotal] [numeric](18, 2) NULL,
	[Discount] [numeric](18, 2) NULL,
	[DiscountAmt] [numeric](18, 2) NULL,
	[GrandTotal] [numeric](18, 2) NULL,
	[Cash] [varchar](10) NULL,
	[IsPaid] [bit] NOT NULL,
	[IsReturned] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CustomerId] [bigint] NULL,
	[Notes] [nvarchar](300) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ReturnedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_Details]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_Details](
	[InvoiceDetailsId] [bigint] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [bigint] NULL,
	[ProductId] [varchar](100) NULL,
	[Qty] [int] NULL,
	[Amount] [numeric](18, 0) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Invoice_Details] PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_Temp]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_Temp](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Qty] [int] NULL,
 CONSTRAINT [PK_Invoice_Temp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Features] [varchar](200) NULL,
	[ActualPrice] [decimal](18, 2) NULL,
	[CGST] [decimal](10, 2) NULL,
	[SGST] [decimal](10, 2) NULL,
	[Discount] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[Image] [image] NULL,
	[CategoryId] [int] NULL,
	[SubCategoryId] [int] NULL,
	[IsActive] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [char](15) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockId] [bigint] IDENTITY(1,1) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ProductId] [nchar](10) NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Stock_1] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock_Details]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock_Details](
	[StockDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[StockDate] [datetime] NULL,
	[ProductId] [bigint] NULL,
	[Features] [varchar](100) NULL,
	[AddQuantity] [int] NULL,
	[SoldQuantity] [int] NULL,
	[CreatedBY] [int] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[StockDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SubCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[Image] [image] NULL,
	[CategoryId] [int] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[UserType] [int] NULL,
	[Name] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[UserTypeId] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 
GO
INSERT [dbo].[Category] ([CategoryId], [Name], [Description], [Image], [Status], [CreatedDate], [ModfiedDate], [CreatedBy], [ModifiedBY]) VALUES (1, N'RUPA', N'U.W', NULL, 1, CAST(N'2017-01-14T18:25:36.570' AS DateTime), NULL, 1, NULL)
GO
INSERT [dbo].[Category] ([CategoryId], [Name], [Description], [Image], [Status], [CreatedDate], [ModfiedDate], [CreatedBy], [ModifiedBY]) VALUES (2, N'MINU', N'SHIRT', NULL, 1, CAST(N'2017-01-14T18:26:42.973' AS DateTime), NULL, 1, NULL)
GO
INSERT [dbo].[Category] ([CategoryId], [Name], [Description], [Image], [Status], [CreatedDate], [ModfiedDate], [CreatedBy], [ModifiedBY]) VALUES (3, N'ENARGE', N'SHIRT', NULL, 1, CAST(N'2017-01-14T18:27:23.043' AS DateTime), NULL, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 
GO
INSERT [dbo].[Customer] ([CustomerId], [Name], [Mobile], [Address], [Email]) VALUES (1, N'LAXMI', 9932146, N'', N'')
GO
INSERT [dbo].[Customer] ([CustomerId], [Name], [Mobile], [Address], [Email]) VALUES (2, N'nigam', 4657687685, N'', N'')
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Errors] ON 
GO
INSERT [dbo].[Errors] ([ErrorID], [Module], [Method], [Error], [Date]) VALUES (1, N'frmInvoice', N'BIndInvoiceDetialsForInvoiceNo', N'String was not recognized as a valid DateTime.', CAST(N'2016-12-30T12:39:30.213' AS DateTime))
GO
INSERT [dbo].[Errors] ([ErrorID], [Module], [Method], [Error], [Date]) VALUES (2, N'frmInvoice', N'BIndInvoiceDetialsForInvoiceNo', N'String was not recognized as a valid DateTime.', CAST(N'2016-12-30T12:40:20.980' AS DateTime))
GO
INSERT [dbo].[Errors] ([ErrorID], [Module], [Method], [Error], [Date]) VALUES (3, N'frmInvoice', N'txtProductName_Leave', N'Index was outside the bounds of the array.', CAST(N'2016-12-30T12:41:09.613' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Errors] OFF
GO
INSERT [dbo].[Invoice] ([InvoiceNo], [InvoiceDate], [SubTotal], [Discount], [DiscountAmt], [GrandTotal], [Cash], [IsPaid], [IsReturned], [IsActive], [CustomerId], [Notes], [CreatedDate], [CreatedBy], [ReturnedDate], [ModifiedDate], [ModifiedBy]) VALUES (1, CAST(N'2017-01-14' AS Date), CAST(849.56 AS Numeric(18, 2)), CAST(2.00 AS Numeric(18, 2)), CAST(16.99 AS Numeric(18, 2)), CAST(832.57 AS Numeric(18, 2)), N'Card', 1, 0, 1, 1, N'', CAST(N'2017-01-14T19:02:59.240' AS DateTime), 2, NULL, NULL, NULL)
GO
INSERT [dbo].[Invoice] ([InvoiceNo], [InvoiceDate], [SubTotal], [Discount], [DiscountAmt], [GrandTotal], [Cash], [IsPaid], [IsReturned], [IsActive], [CustomerId], [Notes], [CreatedDate], [CreatedBy], [ReturnedDate], [ModifiedDate], [ModifiedBy]) VALUES (2, CAST(N'2017-01-14' AS Date), CAST(4416.20 AS Numeric(18, 2)), CAST(1.00 AS Numeric(18, 2)), CAST(44.16 AS Numeric(18, 2)), CAST(4372.04 AS Numeric(18, 2)), N'Cash', 1, 1, 1, 2, N'', CAST(N'2017-01-14T19:18:48.080' AS DateTime), 2, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Invoice_Details] ON 
GO
INSERT [dbo].[Invoice_Details] ([InvoiceDetailsId], [InvoiceNo], [ProductId], [Qty], [Amount], [Status]) VALUES (1, 1, N'7', 1, CAST(850 AS Numeric(18, 0)), 1)
GO
INSERT [dbo].[Invoice_Details] ([InvoiceDetailsId], [InvoiceNo], [ProductId], [Qty], [Amount], [Status]) VALUES (2, 2, N'9', 10, CAST(2520 AS Numeric(18, 0)), 1)
GO
INSERT [dbo].[Invoice_Details] ([InvoiceDetailsId], [InvoiceNo], [ProductId], [Qty], [Amount], [Status]) VALUES (3, 2, N'8', 5, CAST(1035 AS Numeric(18, 0)), 1)
GO
SET IDENTITY_INSERT [dbo].[Invoice_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 
GO
INSERT [dbo].[Product] ([ProductId], [Name], [Features], [ActualPrice], [CGST], [SGST], [Discount], [Price], [Image], [CategoryId], [SubCategoryId], [IsActive], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (1, N'expando-85', N'', CAST(70.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(10, 2)), NULL, 0, CAST(70.00 AS Decimal(18, 2)), NULL, 1, 0, 1, CAST(N'2017-01-14T18:43:53.417' AS DateTime), NULL, 2, NULL)
GO
INSERT [dbo].[Product] ([ProductId], [Name], [Features], [ActualPrice], [CGST], [SGST], [Discount], [Price], [Image], [CategoryId], [SubCategoryId], [IsActive], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (2, N'expendo-90', N'', CAST(75.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(10, 2)), NULL, 0, CAST(75.00 AS Decimal(18, 2)), NULL, 1, 0, 1, CAST(N'2017-01-14T18:44:33.273' AS DateTime), NULL, 2, NULL)
GO
INSERT [dbo].[Product] ([ProductId], [Name], [Features], [ActualPrice], [CGST], [SGST], [Discount], [Price], [Image], [CategoryId], [SubCategoryId], [IsActive], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy]) VALUES (3, N'FRONTLINE-85', N'', CAST(75.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(10, 2)), NULL, 0, CAST(75.00 AS Decimal(18, 2)), NULL, 1, 0, 1, CAST(N'2017-01-14T18:45:28.413' AS DateTime), NULL, 2, NULL)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 
GO
INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (1, N'Active         ')
GO
INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (2, N'InActive       ')
GO
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock] ON 
GO
INSERT [dbo].[Stock] ([StockId], [ModifiedDate], [ProductId], [Quantity]) VALUES (2, CAST(N'2017-01-14T19:24:42.740' AS DateTime), N'1         ', 30)
GO
INSERT [dbo].[Stock] ([StockId], [ModifiedDate], [ProductId], [Quantity]) VALUES (3, CAST(N'2017-06-17T00:00:00.000' AS DateTime), N'10        ', 19)
GO
INSERT [dbo].[Stock] ([StockId], [ModifiedDate], [ProductId], [Quantity]) VALUES (6, CAST(N'2017-01-14T00:00:00.000' AS DateTime), N'2         ', 15)
GO
SET IDENTITY_INSERT [dbo].[Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock_Details] ON 
GO
INSERT [dbo].[Stock_Details] ([StockDetailsId], [StockDate], [ProductId], [Features], [AddQuantity], [SoldQuantity], [CreatedBY], [CreatedOn]) VALUES (1, CAST(N'2017-01-14T00:00:00.000' AS DateTime), 7, N'', 5, NULL, 2, CAST(N'2017-01-14T19:00:37.547' AS DateTime))
GO
INSERT [dbo].[Stock_Details] ([StockDetailsId], [StockDate], [ProductId], [Features], [AddQuantity], [SoldQuantity], [CreatedBY], [CreatedOn]) VALUES (2, NULL, 7, NULL, NULL, 1, 2, CAST(N'2017-01-14T19:02:59.240' AS DateTime))
GO
INSERT [dbo].[Stock_Details] ([StockDetailsId], [StockDate], [ProductId], [Features], [AddQuantity], [SoldQuantity], [CreatedBY], [CreatedOn]) VALUES (3, CAST(N'2017-01-13T00:00:00.000' AS DateTime), 1, N'', 30, NULL, 2, CAST(N'2017-01-14T19:05:26.550' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Stock_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 
GO
INSERT [dbo].[User] ([UserId], [UserName], [Password], [UserType], [Name], [Mobile], [Email], [CreatedOn], [IsActive]) VALUES (1, N'nigam', N'yhHP6ndjFgaTX0gvg12Fxg==', 1, N'Nigam Patta', N'959125403', N'nigampattahyd@gmail.com', CAST(N'2016-09-25T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[User] ([UserId], [UserName], [Password], [UserType], [Name], [Mobile], [Email], [CreatedOn], [IsActive]) VALUES (2, N'dusmant', N'DBCIgKwbTP3DZi/QjOEIBWbT/8mdFWy8LvP9k/EGR70=', 1, N'dusmant', N'', N'', CAST(N'2017-01-14T18:10:10.740' AS DateTime), 1)
GO
INSERT [dbo].[User] ([UserId], [UserName], [Password], [UserType], [Name], [Mobile], [Email], [CreatedOn], [IsActive]) VALUES (3, N'accnt', N'9qytiupZwfk8f4shKDNU2A==', 2, N'Account', N'', N'', CAST(N'2017-01-14T18:11:38.510' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserType] ON 
GO
INSERT [dbo].[UserType] ([UserTypeId], [UserType], [Description], [IsActive]) VALUES (1, N'Admin', N'Administrator Acess', 1)
GO
INSERT [dbo].[UserType] ([UserTypeId], [UserType], [Description], [IsActive]) VALUES (2, N'User', N'User Access', 1)
GO
SET IDENTITY_INSERT [dbo].[UserType] OFF
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Invoice_IsReturned]  DEFAULT ((0)) FOR [IsReturned]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Invoice_IsDeleted]  DEFAULT ((0)) FOR [IsActive]
GO
/****** Object:  StoredProcedure [dbo].[Inv_CancelOrderByInvoiceNo]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[Inv_CancelOrderByInvoiceNo]
 @InvoiceNo bigint
 AS
 BEGIN
	   UPDATE Invoice set IsActive=0 where InvoiceNo=@InvoiceNo
 END
GO
/****** Object:  StoredProcedure [dbo].[Inv_CancelReturnStockUpdate]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Inv_CancelReturnStockUpdate]
@StockDetails_Type Inventory_Type_StockDetails READONLY,
@CreatedBy int,
@InvoiceNo bigint,
@Type char(10)
AS
BEGIN
      BEGIN TRY
			 BEGIN TRANSACTION;
			                 IF(@Type='R')
							 BEGIN
								  UPDATE Invoice set IsReturned=1 WHERE InvoiceNo=@InvoiceNo
								  
								  MERGE Invoice_Details ID
								  USING @StockDetails_Type sType
								  ON ID.InvoiceNo = sType.InvoiceNo and ID.ProductId = sType.ProductId
								  WHEN MATCHED THEN
								  UPDATE SET ID.[Status] = sType.[Status];
							 END
							 ELSE
							 BEGIN
							       UPDATE Invoice set IsActive=0 WHERE InvoiceNo=@InvoiceNo 
							 END
			                  
							  UPDATE Stock set stock.Quantity=stock.Quantity+stockType.Qty,ModifiedDate=GETDATE() from stock 
							  INNER JOIN @StockDetails_Type stockType ON stock.ProductId=stockType.ProductId and stockType.Status=0

							  INSERT INTO Stock_Details(ProductId,SoldQuantity,CreatedBY,CreatedOn) 
							  SELECT ProductId,Qty,@CreatedBy,GETDATE() from  @StockDetails_Type 
			 COMMIT TRANSACTION;
		 
      END TRY
      BEGIN CATCH
				 IF @@TRANCOUNT > 0
                 ROLLBACK TRANSACTION;
	  END CATCH;
END


GO
/****** Object:  StoredProcedure [dbo].[Inv_CheckUserExists]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[Inv_CheckUserExists]
 @UserName varchar(50),
 @Password varchar(50)
 AS
 BEGIN
       SELECT * FROM [User] where UserName=@UserName AND Password=@Password
 END

GO
/****** Object:  StoredProcedure [dbo].[Inv_CreateCategory]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Inv_CreateCategory] 
@Name varchar(50),
@Description varchar(50),
@Image image,
@CreatedBy int
AS 
BEGIN
	  IF NOT EXISTS(SELECT 1 FROM Category where Name=@Name)
	  BEGIN
		   INSERT INTO Category(Name,[Description],[Image],[Status],CreatedDate,CreatedBy) 
		   VALUES(@Name,@Description,@Image,1,GETDATE(),@CreatedBy)
	  END
	  ELSE
	  RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[Inv_CreateProduct]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[Inv_CreateProduct]   
@Name varchar(50),  
@CategoryId int,  
@SubCategoryId int,  
@OriginalPrice decimal(18,2),  
@Discount int,  
@CGST decimal(10,2),  
@SGST decimal(10,2),  
@Price decimal(18,2),  
@Description varchar(50),  
@Image image,  
@CreatedBy int  
AS   
BEGIN  
   IF NOT EXISTS(SELECT 1 FROM Product where Name=@Name)  
   BEGIN  
     INSERT INTO Product(Name,Features,ActualPrice,Discount,CGST,SGST,Price,[Image],CategoryId,SubCategoryId,CreatedDate,CreatedBy,IsActive)   
     VALUES(@Name,@Description,@OriginalPrice,@Discount,@CGST,@SGST,@Price,@Image,@CategoryId,@SubCategoryId,GETDATE(),@CreatedBy,1)  
   END  
   ELSE  
   RETURN 0  
END  
GO
/****** Object:  StoredProcedure [dbo].[Inv_CreateSubCategory]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Inv_CreateSubCategory] 
@Name varchar(50),
@Description varchar(50),
@CategoryId int,
@Image image,
@CreatedBy int
AS 
BEGIN
	  IF NOT EXISTS(SELECT 1 FROM Category where Name=@Name)
	  BEGIN
		   INSERT INTO SubCategory(Name,[Description],CategoryId,[Image],[Status],CreatedDate,CreatedBy) 
		   VALUES(@Name,@Description,@CategoryId,@Image,1,GETDATE(),@CreatedBy)
	  END
	  ELSE
	  RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[Inv_CustomerChart]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_CustomerChart]
AS
BEGIN
	 Select Inv.Price,Customer.Name from (select SUM(GrandTotal) Price,CustomerId from Invoice Group By CustomerId)as Inv
	 LEFT OUTER JOIN Customer on Inv.CustomerId=Customer.CustomerId
END

GO
/****** Object:  StoredProcedure [dbo].[Inv_getAllCategories]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_getAllCategories]
AS
BEGIN
     SELECT 
			cat.CategoryId,
			cat.Name,
			cat.Description,
			cat.Image,
			Status.Name as Status from Category cat
	 LEFT OUTER JOIN Status on cat.Status=Status.StatusId
	 WHERE cat.Status=1
END




GO
/****** Object:  StoredProcedure [dbo].[Inv_GetAllProduct]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Inv_GetAllProduct]
As
Begin
	 select
      p.ProductId,
	  p.Name,
	  p.Features,
	  p.Price,
	  p.Image,
	  c.Name as Category,
	  sc.Name as SubCategory,
	  (CASE IsActive when 1 THEN 'Active'
	                 when 0 THEN 'InActive'
					 END) IsActive,
	   p.CreatedDate,
	   p.ModifiedDate
	   from Product p
LEFT JOIN Category c on p.CategoryId=c.CategoryId
LEFT JOIN SubCategory sc on p.SubCategoryId=sc.SubCategoryId
end
GO
/****** Object:  StoredProcedure [dbo].[Inv_GetAllProducts]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Inv_GetAllProducts]
AS
BEGIN
	 select Productid,Name,Features,Price,Image,CategoryId,SubCategoryId,IsActive,CreatedDate,ModifiedDate,CreatedBy,ModifiedBy from product
END


GO
/****** Object:  StoredProcedure [dbo].[Inv_GetAllSubCategories]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_GetAllSubCategories]
AS
BEGIN
     SELECT 
			cat.SubCategoryId,
			cat.Name,
			cat.Description,
			cat.Image,
			Status.Name as Status from SubCategory cat
	 LEFT OUTER JOIN Status on cat.Status=Status.StatusId
END




GO
/****** Object:  StoredProcedure [dbo].[Inv_getCategories]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_getCategories]
AS
BEGIN
     SELECT 
			cat.CategoryId,
			cat.Name
			from Category cat
	 LEFT OUTER JOIN Status on cat.Status=Status.StatusId
	 WHERE cat.Status=1
END
GO
/****** Object:  StoredProcedure [dbo].[Inv_GetInvoiceDetailsBYInvoiceNo]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_GetInvoiceDetailsBYInvoiceNo]
@InvoiceNo bigint
AS
BEGIN
	 SELECT
	  inv.InvoiceNo,
	  --convert(varchar(20),inv.InvoiceDate,101) InvoiceDate,
	  InvoiceDate,
	  inv.SubTotal,
	  inv.Discount,
	  inv.DiscountAmt,
	  inv.GrandTotal,
	  inv.Cash,
	  inv.IsPaid,
	  inv.IsReturned,
	  inv.IsActive,
	  Customer.CustomerId,
	  Customer.Name,
	  Customer.Email,
	  Customer.[Address],
	  Customer.Mobile,
	  inv.Notes,
	  inv.CreatedDate,
	  usr.Name as CreatedBy,
	  inv.ReturnedDate,
	  inv.ModifiedDate,
	  inv.ModifiedBy
	 FROM Invoice inv
	 LEFT OUTER JOIN Customer ON inv.CustomerId=Customer.CustomerId
	 LEFT OUTER JOIN [User] usr ON inv.CreatedBy=usr.UserId
	 WHERE inv.InvoiceNo=@InvoiceNo

	 SELECT 
	  ID.InvoiceDetailsId,
	  ID.InvoiceNo,
	  ID.ProductId,
	  P.Name AS ProductName,
	  P.Features,
	  P.ActualPrice,
	  p.Discount,
	  p.VAT,
	  p.Price,
	  ID.Qty,
	  ID.Amount,
	  Id.Status FROM Invoice_Details ID
LEFT OUTER JOIN Product P ON ID.ProductId=p.ProductId WHERE ID.InvoiceNo=@InvoiceNo
END

GO
/****** Object:  StoredProcedure [dbo].[Inv_getInvoiceIdentity]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_getInvoiceIdentity]
AS
BEGIN
      SELECT MAX(InvoiceNo) as InvoiceNo from Invoice
END
GO
/****** Object:  StoredProcedure [dbo].[Inv_GetProductById]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Inv_GetProductById]
@id bigint
AS
BEGIN
	 select 
		  Product.Productid,
		  Product.Name,
		  Product.Features,
		  Product.ActualPrice,
		  Product.VAT,
		  Product.Discount,
		  Product.Price,
		  Product.Image,
		  Product.CategoryId,
		  Product.SubCategoryId,
		  Product.IsActive,
		  Product.CreatedDate,
		  Product.ModifiedDate,
		  Product.CreatedBy,
		  Product.ModifiedBy,
		  Stock.Quantity from product
	 LEFT OUTER JOIN Stock ON Product.ProductId=Stock.ProductId
	 Where product.ProductId=@id and product.IsActive=1
END
 
GO
/****** Object:  StoredProcedure [dbo].[Inv_getProductStockCount]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_getProductStockCount]
 @ProductId bigint
 AS
 BEGIN
		select Quantity from Stock where ProductId=@ProductId
 END
GO
/****** Object:  StoredProcedure [dbo].[Inv_getSubCategoriesBycatId]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_getSubCategoriesBycatId]
@CategoryId int
AS
BEGIN
     SELECT
			SubCategoryId,
			Name
	  from SubCategory WHERE CategoryId=@CategoryId and Status=1
END



GO
/****** Object:  StoredProcedure [dbo].[Inv_getUserTypes]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_getUserTypes]
AS
BEGIN
     SELECT 
	        UserTypeId,
			UserType,
			[Description],
			(CASE IsActive WHEN 1 THEN 'Active'
			ELSE 'InActive'
			END) as Status
			 from UserType
	 
END
 



GO
/****** Object:  StoredProcedure [dbo].[Inv_InsertInvoice]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [dbo].[Inv_InsertInvoice]
@InvoiceDetails_Type Inventory_Type_InvoiceDetails READONLY,
@InvoiceNo bigint,
@InvoiceDate Date,
@SubTotal numeric(18,2),
@Discount int,
@DiscountAmt numeric(18,2),
@GrandTotal numeric(18,2),
@Cash varchar(10),
@CustName varchar(50),
@Mobile bigint,
@Address varchar(199),
@Email varchar(50),
@Notes varchar(300),
@CreatedBy int
AS
BEGIN
     DECLARE @CustID bigint=0
     BEGIN TRY
		 IF NOT EXISTS(SELECT 1 FROM Invoice WHERE InvoiceNo=@InvoiceNo)
		 BEGIN
			 BEGIN TRANSACTION;
					/*Insert Customer and get CustomerId*/
					IF EXISTS(SELECT 1 FROM Customer WHERE Mobile=@Mobile)
						 BEGIN
							  SET @CustID=(SELECT CustomerId FROM Customer WHERE Mobile=@Mobile) 
						 END
					ELSE
						 BEGIN
						      INSERT INTO Customer(Name,Mobile,[Address],Email)
							  VALUES (@CustName,@Mobile,@Address,@Email)
							  SET @CustID=IDENT_CURRENT('Customer')
						 END

					/*Insert Invoice*/
					INSERT INTO Invoice(InvoiceNo,InvoiceDate,SubTotal,Discount,DiscountAmt,GrandTotal,Cash,IsPaid,IsActive,CustomerId,Notes,CreatedDate,CreatedBy)
					VALUES(@InvoiceNo,@InvoiceDate,@SubTotal,@Discount,@DiscountAmt,@GrandTotal,@Cash,1,1,@CustID,@Notes,GETDATE(),@CreatedBy)

					/*Insert InvoiceDetails*/
					INSERT INTO Invoice_Details(InvoiceNo,ProductId,Qty,Amount,Status)
					SELECT InvoiceNo,ProductId,Qty,Amount,1 FROM @InvoiceDetails_Type

					/* Updating Stocks */

					UPDATE Stock set stock.Quantity=stock.Quantity-stockType.Qty,ModifiedDate=GETDATE() from stock 
					INNER JOIN @InvoiceDetails_Type stockType ON stock.ProductId=stockType.ProductId

					INSERT INTO Stock_Details(ProductId,SoldQuantity,CreatedBY,CreatedOn) 
					SELECT ProductId,Qty,@CreatedBy,GETDATE() from  @InvoiceDetails_Type 

			 COMMIT TRANSACTION;
		 END
		 ELSE
		 RETURN 0
     END TRY
     BEGIN CATCH
				 IF @@TRANCOUNT > 0
                 ROLLBACK TRANSACTION;
	 END CATCH;
END

GO
/****** Object:  StoredProcedure [dbo].[Inv_LogErros]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[Inv_LogErros]
 @Module varchar(50),
 @Method varchar(50),
 @Error nvarchar(max)
 AS
 BEGIN
      INSERT INTO Errors(Module,Method,Error,Date)
	  VALUES(@Module,@Method,@Error,GETDATE())
 END

GO
/****** Object:  StoredProcedure [dbo].[Inv_RegisterUser]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_RegisterUser]
@UserName varchar(50),
@Password varchar(50),
@UserType int,
@Name varchar(50),
@Mobile varchar(50),
@Email varchar(50)
AS
BEGIN
     IF NOT EXISTS(SELECT 1 FROM [User] WHERE UserName=@UserName)
	 BEGIN
			INSERT INTO [User](UserName,Password,UserType,Name,Mobile,Email,CreatedOn,IsActive)
			VALUES(@UserName,@Password,@UserType,@Name,@Mobile,@Email,GETDATE(),1)
	 END
	 ELSE
	 RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[Inv_SalesChart]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_SalesChart]
AS
BEGIN
	 SELECT SUM(x.GrandTotal) as Qty,x.Name FROM(SELECT DATENAME(month, InvoiceDate) Name ,* from Invoice) as x
     group by x.Name order by x.Name
END

GO
/****** Object:  StoredProcedure [dbo].[Inv_StockChart]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Inv_StockChart]
AS
BEGIN
	 SELECT SUM(x.Quantity) as Qty,x.Name FROM(SELECT DATENAME(month, ModifiedDate) Name ,* from Stock) as x
     group by x.Name order by x.Name
END

GO
/****** Object:  StoredProcedure [dbo].[Inv_UpdateInsertStock]    Script Date: 17-07-2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[Inv_UpdateInsertStock]
 @ProductId bigint,
 @Feature  varchar(100),
 @Qty int,
 @StockDate datetime,
 @CreatedBy int
 AS
 BEGIN
       BEGIN TRY
			 BEGIN TRANSACTION;
							   IF EXISTS(SELECT 1 from Stock where ProductId=@ProductId)
							   BEGIN 
							         UPDATE Stock 
									 SET Quantity=Quantity+@Qty,
										 ModifiedDate=@StockDate
								     WHERE ProductId=@ProductId
							   END
							   ELSE
							   BEGIN
							        INSERT INTO Stock(ModifiedDate,ProductId,Quantity) 
									VALUES(@StockDate ,@ProductId,@Qty)
							   END
								INSERT INTO Stock_Details(StockDate,ProductId,Features,AddQuantity,CreatedBY,CreatedOn) 
								VALUES(@StockDate,@ProductId,@Feature,@Qty,@CreatedBy,GETDATE())
		     COMMIT TRANSACTION;
       END TRY
       BEGIN CATCH
				 IF @@TRANCOUNT > 0
                 ROLLBACK TRANSACTION;
	   END CATCH;
 END
GO
USE [master]
GO
